
.Navigation {
  text-align: left;
  font-size: 20px;
  letter-spacing: 2px;
  text-decoration: none;
}

.nav-home {
  color: rgb(12, 130, 240);
  padding: 20px;
}
.nav-account {
  color: rgb(12, 130, 240);
  padding: 20px;
}